body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.herotext {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.logo {
    color: #F9FAF8;
    border: solid red;
    display: flex;
    margin-left: 10px;
}

img {
    height: 354px;
    width: 532px;
    display: flex;
}