body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}


.signupbutton {
    height: 50px;
    width: 150px;
    background-color: #3882F6;
    border-radius: 10px 100px / 120px;
    border-color: #3882F6;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-left {
display: flex;
flex-direction: column;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.header-right {
    display: flex;
    flex-direction: column;
}

.herotext {
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 10px;
}

.coffeeisawesome {
    margin-bottom: -25px;
    line-height: 90px;
}

.subheadingheader {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 35px;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-left: 300px;
}


img {
    height: 354px;
    width: 532px;
    display: flex;
    margin-top: 30px;
    margin-right: 300px;
    border-radius: 30px;
    margin-bottom: 80px;
}

.middle-section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;

}

.box1 {
    float: left;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 30px;
    margin: 25px;
}

.box2 {
    float: left;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 30px;
    margin: 25px;
}

.box3 {
    float: right;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 30px;
    margin: 25px;
}

.box4 {
    float: right;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 30px;
    margin: 25px;
}

.boxes-container {
    border: solid red;
    direction: flex;
}

.captions {
    border: solid green;
    display: flex;
}