body {
    font-family: 'Roboto', sans-serif;
}

header {
    border: solid orange;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-left {
border: solid purple;
display: flex;
flex-direction: column;
}

.header-right {
    border: solid purple;
    display: flex;
    flex-direction: column;
}

.herotext {
    font-size: x-large;
    border: solid green;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
}

h1 {
    margin-bottom: -30px;
}

.logo {
    font-size: small;
    color: #F9FAF8;
    border: solid red;
    display: flex;
    margin-left: 300px;
}



img {
    height: 354px;
    width: 532px;
    display: flex;
}